<%= form_with(model: mining_type, local: true) do |form| %>
  <% if mining_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mining_type.errors.count, "error") %> prohibited this mining_type from being saved:</h2>

      <ul>
      <% mining_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='col-6'>
    <div class="form-group">
      <%= form.label t('form.descr') %>
      <%= form.text_field :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label t('form.acronym') %>
      <%= form.text_field :acronym, class: 'form-control' %>
    </div>
  </div>

  <div class="d-flex gap-1">
    <% if @editing_form %>
      <%= form.submit t("mining_types.edit.button_label"), class: 'btn btn-success my-3', type: 'button' %>
    <% else %>
      <%= form.submit t("mining_types.new.button_label"), class: 'btn btn-success my-3', type: 'button' %>
    <% end %>

    <%= link_to t('links.back'), mining_types_path, class: 'btn btn-outline-secondary my-3' %>
  </div>
<% end %>
