<!DOCTYPE html>
<html>
  <head>
    <title>Crypto Wallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="background: #f1f1f1; padding: 5rem 3rem;">
      <h1>CABEÇALHO - Header</h1>
    </header>
    <div style="height: 70vh; padding: 5rem;">
      <%= yield %>
    </div>
    <footer style="background: #f1f1f1; padding:5rem 3rem;">
      <h1>RODAPE - Footer</h1>
    </footer>
  </body>
</html>
