<!DOCTYPE html>
<html>
  <head>
    <title>Crypto Wallet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%# stylesheet_link_tag    'scaffolds', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag params[:controller], 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header style="background: #e1e1e1; padding: 5rem 3rem; display: flex; justify-content: space-between; align-items: center;">
      <h1 style='margin: 0 !important;'><%= link_to 'Crypto Wallet', root_path, style: 'text-decoration: initial;' %></h1>
      <div class="btn-group" role="group" aria-label="Languages">
        <%= link_to 'Português', {locale: 'pt-BR'}, class:'btn btn-outline-primary btn-sm', type: "button"  %>
        <%= link_to 'English', {locale: 'en'}, class:'btn btn-outline-primary btn-sm', type: "button"  %>
      </div>
    </header>
    <div style="height: 62vh; padding: 5rem;">
      <%= yield %>
    </div>
    <footer style="background: #e1e1e1; padding:5rem 3rem;">
      <h1>FOOTER</h1>
    </footer>
  </body>
</html>
